/* Site Durevole
Autores: Reges Washington e Patricia Silva */

@charset "UTF-8";

/* Indice do CSS 

1 - Estrutural
2 - Tipografia
3 - Botões
4 - Cabeçalho
 
*/


/* 1 - Estrutural */

* {
    font-family: Stolzl;
}
body {
    font-size: 12px;
    line-height: 25px;
    margin: 0;
    color: #707070;
}
a {
    text-decoration: none;
}
main {
    background-color: white;
}
button {
    border-width: 0px;
    cursor: pointer;
}
ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.container {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

/* 2 - Posicionamento */
.flex {
    display: flex;
}

/* 3 - Tipografia */

h1 {
    font-size: 55px;
    line-height: 66px;
    font-weight: 300;
}
h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
}
h3 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
}
h4 {
    font-size: 35px;
    line-height: 42px;
    font-weight: 400;
}
h5 {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
}
h6 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
}
p.destaque-light {
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
}
p.destaque-pequeno {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
}


/*  4 - Botões  */

.botao-redondo {
    font-family: Stolzl;
    font-size: 12px;
    padding: 15px 25px;
    background: #FFE7B9;
    border-radius: 100px;
    color: #385A58;
    font-weight: 600;
}
.botao-redondo:hover {
    background-color: #274442;
    color: #fff;
}
.b-branco {
    background: #FFF;
}
.b-transparente {
    background: transparent;
    border: 2px solid #385A58;
    box-sizing: border-box;
}
.b-transparente:hover {
    background: transparent;
    border: 2px solid #274442;
    color: #274442;
    box-sizing: border-box;
}
.botao-traco-g {
    font-size: 14px;
    padding: 18px 0px;
    color: #487673;
    border: 1px solid #487673;
    background: transparent;
    border-width: 0px 0px 1px 0px;
}
.botao-traco-g:hover {
    color: #274442;
    border: 1px solid #274442;
    border-width: 0px 0px 1px 0px;
}
.botao-traco-p {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0px;
    color: #385A58;
    border: 1px solid #385A58;
    background: transparent;
    border-width: 0px 0px 1px 0px;
}
.botao-traco-p:hover {
    color: #274442;
    border: 1px solid #274442;
    border-width: 0px 0px 1px 0px;
}
.b-branco-cor {
    color: #FFF;
    border-color: #FFF;
}
.botao-quadrado {
    font-size: 14px;
    padding: 26px 220px;
    background: #FFE7B9;
    color: #385A58;
    font-weight: 600;
}
.botao-quadrado:hover {
    background: #274442;
    color: #fff;
}
.botao-quadrado {
    font-size: 14px;
    padding: 26px 220px;
    background: #FFE7B9;
    color: #385A58;
    font-weight: 600;
}
.b-cinza {
    background: #C2C2C2;
    color: #FFF;
}
.b-verdeescuro {
    background: #385A58;
    color: #FFF;
}
.b-verdeclaro{
    background: #7EB6B2;
    color: #FFF;
}
.botao-cumprido {
    padding: 13px 20px;
    font-size: 14px;
    background: #FFF;
    color: #5C9B97;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 100px;
}
.botao-atendimento {
    background: transparent;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}


/* 5 - Cabecalho */
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li {
    margin: 0 20px;
}
.logo {
    margin: 0;
    padding: 0;
}
.cabecalho-branco {
    color: white;
}
.cabecalho-verde {
    color: #274442;
}
.cabecalho-verde a {
    color: #274442;
}
.cabecalho-verde a:hover {
    color: #3e6462;
}


/* 6 - Rodapé */
footer a {
    color: #707070;
}
footer ul li {
    list-style: none;
    font-weight: 300;
}
footer span {
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
}
.rodape {
    background-color: #FAFAFA;
}
.rodape-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    padding: 5% 0;
}
.rodape-logo {
    display: inherit;
}
.separador-light {
    border-right: 1px solid #E7E7E7;
}
.rodape-pagamentos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5% 0;
}
.rodape-pagamentos-ali {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.certificacao {
    background-color: #959595;
    color: #FFF;
}
.selo-rodape {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 60px;
    text-transform: uppercase;
}
.cnpj {
    display: flex;
    font-size: 10px;
    text-align: center;
    justify-content: space-around;
}
.logo-sonotto {
    display: flex;
    padding-left: 13px;
}

/* 7 - Elementos */
.content-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.content-box {
}
.content-box-img-title {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    height: 200px;
    padding: 25px;
    border-radius: 5px 5px 0px 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.content-box-img-title h5 {
    margin: 0;
    color: #FFE7B9;
 }
.content-box-img-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -10;
}
.content-box-desc {
    background-color: #487673;
    color: #B0D2D0;
    padding: 35px 25px;
    line-height: 20px;
    font-size: 11px;
    border-radius: 0px 0px 5px 5px;
}
.content-box-desc p {
    margin: 0;
    margin-bottom: 20px;
}