/* Site Durevole
Autores: Reges Washington e Patricia Silva */

@charset "UTF-8";

/* Indice do CSS 

1 - Estrutural
2 - Tipografia
3 - Botões
4 - Cabeçalho
 
*/


/* 1 - Estrutural */

* {
    font-family: Stolzl;
}
body {
    font-size: 12px;
    line-height: 25px;
    font-weight: 300;
    margin: 0;
    color: #707070;
}
a {
    text-decoration: none;
}
main {
    background-color: white;
}
button {
    border-width: 0px;
    cursor: pointer;
}
ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
img {
    max-width: 100%;
}
.container {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

/* 2 - Posicionamento */
.flex {
    display: flex;
}

/* 3 - Tipografia */

h1 {
    font-size: 55px;
    line-height: 66px;
    font-weight: 300;
    margin: 15px 0;
}
h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    margin: 15px 0;
}
h3 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin: 15px 0;
}
h4 {
    font-size: 35px;
    line-height: 42px;
    font-weight: 400;
    margin: 15px 0;
}
h5 {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    margin: 15px 0;
}
h6 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin: 15px 0;
}
p.destaque-light {
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
    margin: 15px 0;
}
p.destaque-pequeno {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    margin: 0;
}

/*  3.1 - Tipografia - Titulos  */
.section-title-center {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.section-title-center .destaque-light {
    max-width: 500px;
}



/*  4 - Botões  */

.botao-redondo {
    font-family: Stolzl;
    font-size: 12px;
    padding: 15px 25px;
    background: #FFE7B9;
    border-radius: 100px;
    color: #385A58;
    font-weight: 600;
}
.botao-redondo:hover {
    background-color: #274442;
    color: #fff;
}
.b-branco {
    background: #FFF;
}
.b-transparente {
    background: transparent;
    border: 2px solid #385A58;
    box-sizing: border-box;
}
.b-transparente:hover {
    background: transparent;
    border: 2px solid #274442;
    color: #274442;
    box-sizing: border-box;
}
.botao-traco-g {
    font-size: 14px;
    padding: 18px 0px;
    color: #487673;
    border: 1px solid #487673;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}
.botao-traco-g .arrow {
    transition: transform 0.3s ease-in-out;
}
.botao-traco-g:hover {
    color: #274442;
    border: 1px solid #274442;
    border-width: 0px 0px 1px 0px;
}
.botao-traco-g:hover .arrow {
    transform: translateX(100%);
}
.botao-traco-p {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0px;
    color: #385A58;
    border: 1px solid #385A58;
    background: transparent;
    border-width: 0px 0px 1px 0px;
}
.botao-traco-p:hover {
    color: #274442;
    border: 1px solid #274442;
    border-width: 0px 0px 1px 0px;
}
.b-cinza-cor {
    color: #717171;
    border-color: #717171;
}
.b-branco-cor {
    color: #FFF;
    border-color: #FFF;
}
.botao-quadrado {
    font-size: 14px;
    padding: 26px 220px;
    background: #FFE7B9;
    color: #385A58;
    font-weight: 600;
}
.botao-quadrado:hover {
    background: #274442;
    color: #fff;
}
.botao-quadrado {
    font-size: 14px;
    padding: 26px 220px;
    background: #FFE7B9;
    color: #385A58;
    font-weight: 600;
}
.b-cinza {
    background: #C2C2C2;
    color: #FFF;
}
.b-verdeescuro {
    background: #385A58;
    color: #FFF;
}
.b-verdeclaro{
    background: #7EB6B2;
    color: #FFF;
}
.botao-cumprido {
    padding: 13px 20px;
    font-size: 14px;
    background: #FFF;
    color: #5C9B97;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 100px;
}
.botao-atendimento {
    background: transparent;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
.botao-play-video {
    background-color: #416A68;
    border-radius: 100px;
    color: white;
    padding: 5px 5px 5px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 200;
    font-size: 12px;
}


/* 5 - Cabecalho */
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li {
    margin: 0 20px;
}
.logo {
    margin: 0;
    padding: 0;
}
.cabecalho-branco {
    color: white;
}
.cabecalho-verde {
    color: #274442;
}
.cabecalho-verde a {
    color: #274442;
}
.cabecalho-verde a:hover {
    color: #3e6462;
}
@media screen and (max-width: 970px) {
    .botao-atendimento {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .header {
        gap: 25px;
    }
    /* Menu Mobile */
    .menu-navegacao-mobile-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 999;
    }
    /* Menu Mobile - Hamburger Menu */
    .menu-navegacao-mobile-btn_burger {
        width: 40px;
        height: 2px;
        background: #274442;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }
    .menu-navegacao-mobile-btn_burger::before,
    .menu-navegacao-mobile-btn_burger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 2px;
        background: #274442;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }
    .menu-navegacao-mobile-btn_burger::before {
        transform: translate(-10px, -12px);
    }
    .menu-navegacao-mobile-btn_burger::after {
        transform: translate(-10px, 12px);
    }
    /* Menu Mobile - Hamburguer Menu - Animação */
    .menu-navegacao-mobile-btn.open .menu-navegacao-mobile-btn_burger {
        transform: translate(-25px, 25px);
        background: transparent;
        box-shadow: none;
    }
    .menu-navegacao-mobile-btn.open .menu-navegacao-mobile-btn_burger::before {
        transform: rotate(45deg) translate(5px, -35px);
    }
    .menu-navegacao-mobile-btn.open .menu-navegacao-mobile-btn_burger::after {
        transform: rotate(-45deg) translate(35px, 5px);
    }
    /* Menu Mobile - Itens do Menu Aberto */
    .menu-navegacao {
        display: none;
    }
    .menu-navegacao li a {
        color: white;
    }
    .menu-navegacao.open {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        background-color: #5C9B97;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 99;
    }
    .menu-navegacao li {
        font-size: 16px;
        font-weight: 300;
    }
    .main-menu ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
      }
}


/* 6 - Rodapé */
footer a {
    color: #707070;
}
footer ul li {
    list-style: none;
    font-weight: 300;
}
footer span {
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
}
.rodape {
    background-color: #FAFAFA;
    margin-top: 55px;
}
.rodape-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    padding: 5% 0;
}
.rodape-logo {
    display: inherit;
}
.separador-light {
    border-right: 1px solid #E7E7E7;
}
.rodape-pagamentos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5% 0;
}
.rodape-pagamentos-ali {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.certificacao {
    background-color: #959595;
    color: #FFF;
}
.selo-rodape {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 60px;
    text-transform: uppercase;
    padding: 50px 0;
}
.cnpj {
    display: flex;
    font-size: 10px;
    text-align: center;
    justify-content: space-around;
}
.logo-sonotto {
    display: flex;
    padding-left: 13px;
}
@media screen and (max-width: 1000px) {
    .rodape-pagamentos {
        justify-content: center;
        gap: 35px
    }
    .separador-light {
        display: none;
    }
    .rodape-pagamentos-ali {
        justify-content: center;
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .rodape-grid {
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
        padding: 15% 0;
    }
}

/* 7 - Elementos */
/* 7.1 - Elementos - Content Boxes */
.content-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.content-box {
}
.content-box-img-title {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    height: 200px;
    padding: 25px;
    border-radius: 5px 5px 0px 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.content-box-img-title h5 {
    margin: 0;
    color: #FFE7B9;
 }
.content-box-img-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -10;
}
.content-box-desc {
    background-color: #487673;
    color: #B0D2D0;
    padding: 35px 25px;
    line-height: 20px;
    font-size: 11px;
    border-radius: 0px 0px 5px 5px;
}
.content-box-desc p {
    margin: 0;
    margin-bottom: 20px;
}
@media screen and (max-width: 750px) {
    .content-boxes {
        grid-template-columns: auto;
    }
}
/* 7 - Elementos - Lojas */
.loja-box {
    justify-content: space-around;
    padding: 5% 10%;
    gap: 20%;
}
.loja-cidade {
    padding-bottom: 30px;
}
p.cor-loja {
    color: #5C9B97;
}
.w-100 {
    width: 100%;
}
.gap-15 {
    gap: 15%;
}
@media screen and (max-width: 1170px) {
    .loja-box {
        padding: 5% 0;
    }
}
@media screen and (max-width: 960px) {
    .loja-box {
        gap: 30px;
    }
}
@media screen and (max-width: 850px) {
    .loja-box {
        flex-direction: column;
    }
    .gap-15 {
        justify-content: space-around;
    }
    .w-100 {
        margin: 35px 0;
    }
}
/* 7 - Elementos - Tecnologia */
.tec-espacos {
    
}

/* 7.2 - Elementos - Produto Boxes */
.produto-box {
    position: relative;
}
.produto-box img {
    object-fit: cover;
    height: 260px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 100%;
}
.produto-titulo {
    font-size: 25px;
    margin: 0;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 5px;
}
.produto-descricao {
    font-weight: 300;
}
.produto-tag {
    background-color: #E9E9E9;
    padding: 2px 15px;
    position: absolute;
    border-radius: 100px;
    top: 7px;
    right: 7px;
    font-size: 10px;
}
/* 7.3 - Elementos - Grid */
.grid-multi {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 55px;
}
.grid-image {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 580px;
    object-fit: cover;
    box-shadow: 11px 29px 32px rgba(0, 0, 0, 0.12);
}
.g-titulo {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 70%;
    align-self: end;
}
.g-titulo h2 {
    color: #487673;
}
.g-titulo h5 {
    color: #274442;
}
.g-texto-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.g-pedacos {
    position: absolute;
    right: 0;
    width: 150px;
}
.g-pedacos p {
    transform: rotate(
270deg
);
    position: absolute;
    left: -100px;
    top: 120px;
}