.produto-topo {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 2fr;
    grid-template-areas:
        "sidebar imagem descricao"
        "sidebar imagem detalhes"
        "sidebar imagem botoes";
    grid-gap: 3rem;
    margin-top: 25px;
    margin-bottom: 25px;
}
.produto-sidebar {
    grid-area: sidebar;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.produto-sidebar li {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-bottom: 15px;
    display: inherit;
    align-items: inherit;
    flex-direction: inherit;
    text-align: right;
}
.produto-imagem {
    grid-area: imagem;
    height: 100%;
    object-fit: cover;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}
.produto-descricao {
    grid-area: descricao;
}
.produto-descricao-tipo {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #E6E6E6;
    display: inline-block;
}
.produto-detalhes {
    grid-area: detalhes;
    display: flex;
    justify-content: space-between;
    gap: 5%;
}
.produto-detalhes-item {
    position: relative;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
}
.produto-detalhes-item span {
    font-weight: 200;
}
.produto-detalhes-item:before {
    content: " ";
    height: 1px;
    width: 25%;
    background-color: #707070;
    position: absolute;
    top: 0;
    left: 0;
}
.produto-botoes {
    grid-area: botoes;
}

/* Imagem Destaque */
.imagem-destaque {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 5% 0;
}

/* Destaques */
/* 7 - Elementos - Um verdadeiro tesouro */
ul.lista-flex {
    list-style: none;
    display: flex;
    justify-content: space-around
}
.lista-flex .false {
    display: none;
}
.tesouro-centro {
    text-align: center;
}
.espaco-botao {
    margin: 48px 0px;
}
p.fonte-descricao {
    font-size: 10px;
}

/* Processo e Lojas */
.botao-traco-g.branco {
    color: #fff;
}
.produto-processo-titulo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.produto-lojas {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    grid-gap: 15%;
    margin: 5% 0;
}
@media screen and (max-width: 800px) {
    .produto-lojas {
        grid-template-columns: 1fr;
        grid-gap: 15px;
        text-align: center;
    }
    .produto-lojas img {
        max-width: 70%;
    }
    .produto-topo {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "descricao"
            "sidebar"
            "imagem"
            "detalhes"
            "botoes";
        grid-gap: 35px;
    }
    .produto-imagem {
        width: 100%;
    }
    .produto-sidebar {
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
        align-items: baseline;
    }
    .produto-sidebar li {
        flex-direction: column;
    }
}
@media screen and (max-width: 380px) {
    .produto-sidebar {
        flex-direction: column;
    }
    .produto-sidebar li {
        width: 100%;
        flex-direction: row;
        gap: 25px;
        margin-bottom: 5px;
    }
    .produto-detalhes {
        flex-direction: column;
    }
    .produto-detalhes-item {
        width: 100%;
        margin-bottom: 25px;
    }
    .produto-detalhes-item:last-child {
        margin-bottom: 0;
    }
}