/* Site Durevole
Autores: Reges Washington e Patricia Silva */

@charset "UTF-8";

/* Indice do CSS 

1 - Estrutural
2 - Tipografia
3 - Botões
4 - Cabeçalho
 
*/


/* 1 - Estrutural */

* {
    font-family: Stolzl;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 12px;
    line-height: 25px;
    font-weight: 300;
    margin: 0;
    color: #707070;
}
a {
    text-decoration: none;
    transition: all .3s;
    color: #707070;
}
main {
    background-color: white;
}
button {
    border-width: 0px;
    cursor: pointer;
}
ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
img {
    max-width: 100%;
}
.container {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

/* 2 - Posicionamento */
.flex {
    display: flex;
}

/* Margens */
.margem-15p {
    margin: 15%;
}
.margem-5p {
    margin: 5%;
}

/* 3 - Tipografia */

h1 {
    font-size: 55px;
    line-height: 66px;
    font-weight: 300;
    margin: 15px 0;
}
h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    margin: 15px 0;
}
h3 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin: 15px 0;
}
h4 {
    font-size: 35px;
    line-height: 42px;
    font-weight: 400;
    margin: 15px 0;
}
h5 {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    margin: 15px 0;
}
h6 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin: 15px 0;
}
p.destaque-light {
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
    margin: 15px 0;
}
p.destaque-pequeno {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    margin: 0;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 45px;
        line-height: 56px;
        font-weight: 300;
        margin: 15px 0;
    }
    h2 {
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        margin: 15px 0;
    }
    h3 {
        font-size: 30px;
        line-height: 38px;
        font-weight: 300;
        margin: 15px 0;
    }
    h4 {
        font-size: 25px;
        line-height: 32px;
        font-weight: 400;
        margin: 15px 0;
    }
}

/*  3.1 - Tipografia - Titulos  */
.section-title-center {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.section-title-center p {
    max-width: 750px;
}
.section-title-center .destaque-light {
    max-width: 500px;
}



/*  4 - Botões  */

.botao-redondo {
    font-family: Stolzl;
    font-size: 12px;
    padding: 15px 25px;
    background: #FFE7B9;
    border-radius: 100px;
    color: #385A58;
    font-weight: 600;
}
.botao-redondo:hover {
    background-color: #274442;
    color: #fff;
}
.b-branco {
    background: #FFF;
}
.b-transparente {
    background: transparent;
    border: 2px solid #385A58;
    box-sizing: border-box;
}
.b-transparente:hover {
    background: transparent;
    border: 2px solid #274442;
    color: #274442;
    box-sizing: border-box;
}
.botao-traco-g {
    font-size: 14px;
    padding: 18px 0px;
    color: #487673;
    border: 1px solid #487673;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    font-weight: 300;
    display: flex;
    gap: 25px;
    justify-content: space-between;
}
.botao-traco-g .arrow {
    transition: transform 0.3s ease-in-out;
}
.botao-traco-g:hover {
    color: #274442;
    border: 1px solid #274442;
    border-width: 0px 0px 1px 0px;
}
.botao-traco-g:hover .arrow {
    transform: translateX(100%);
}
.botao-traco-p {
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0px;
    color: #385A58;
    border: 1px solid #385A58;
    background: transparent;
    border-width: 0px 0px 1px 0px;
}
.botao-traco-p:hover {
    color: #274442;
    border: 1px solid rgb(226, 226, 226);
    border-width: 0px 0px 1px 0px;
}
.botao-traco-p.b-branco-cor:hover {
    color: #FFE7B9;
}
.b-cinza-cor {
    color: #717171;
    border-color: #717171;
}
.b-branco-cor {
    color: #FFF;
    border-color: #FFF;
}
.botao-quadrado {
    font-size: 14px;
    padding: 26px 220px;
    background: #FFE7B9;
    color: #385A58;
    font-weight: 600;
}
.botao-quadrado:hover {
    background: #274442;
    color: #fff;
}
.botao-quadrado {
    font-size: 14px;
    padding: 26px 220px;
    background: #FFE7B9;
    color: #385A58;
    font-weight: 600;
}
.b-cinza {
    background: #C2C2C2;
    color: #FFF;
}
.b-verdeescuro {
    background: #385A58;
    color: #FFF;
}
.b-verdeclaro{
    background: #7EB6B2;
    color: #FFF;
}
.botao-cumprido {
    padding: 13px 35px;
    font-size: 14px;
    background: #FFF;
    color: #5C9B97;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 100px;
    display: inline-flex;
    gap: 25px;
    align-items: center;
}
.botao-cumprido:hover {
    background-color: #5C9B97;
    color: #fff;
}
.botao-atendimento {
    background: transparent;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    color: #274442;
    font-weight: 300;
}
.botao-atendimento:hover {
    color: #707070;
}
.botao-play-video {
    background-color: #416A68;
    border-radius: 100px;
    color: white;
    padding: 5px 5px 5px 15px;
    display: flex;
    justify-content: inherit;
    align-items: center;
    gap: 20px;
    font-weight: 200;
    font-size: 12px;
}
.botao-play-video:hover {
    background-color: #fff;
    color: #416A68;
}
@media screen and (max-width: 800px) {
    .botao-quadrado {
        width: 100%;
        padding: 26px 100px;
    }
}


/* 5 - Cabecalho */
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li {
    margin: 0 20px;
}
.menu-navegacao li {
    position: relative;
}
.menu-navegacao li:after {
    content: " ";
    background-color: #5C9B97;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.menu-navegacao li:hover::after {
    opacity: 1;
    transform: scale(0.5);
}
.ativa {
    font-weight: 400;
}
.ativa::after {
    content: " ";
    background-color: #5C9B97;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: all .3s ease-in-out;
}
.logo {
    margin: 0;
    padding: 0;
}
.cabecalho-branco {
    color: white;
}
.cabecalho-verde {
    color: #274442;
}
.cabecalho-verde a {
    color: #274442;
}
.cabecalho-verde a:hover {
    color: #3e6462;
}
.menu-navegacao-mobile-btn {
    display: none;
}
@media screen and (max-width: 970px) {
    .botao-atendimento {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .header {
        gap: 25px;
    }
    /* Menu Mobile */
    .menu-navegacao-mobile-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 999;
    }
    /* Menu Mobile - Hamburger Menu */
    .menu-navegacao-mobile-btn_burger {
        width: 40px;
        height: 2px;
        background: #274442;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }
    .menu-navegacao-mobile-btn_burger::before,
    .menu-navegacao-mobile-btn_burger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 2px;
        background: #274442;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }
    .menu-navegacao-mobile-btn_burger::before {
        transform: translate(-10px, -12px);
    }
    .menu-navegacao-mobile-btn_burger::after {
        transform: translate(-10px, 12px);
    }
    /* Menu Mobile - Hamburguer Menu - Animação */
    .menu-navegacao-mobile-btn.open .menu-navegacao-mobile-btn_burger {
        transform: translate(-25px, 25px);
        background: transparent;
        box-shadow: none;
    }
    .menu-navegacao-mobile-btn.open .menu-navegacao-mobile-btn_burger::before {
        transform: rotate(45deg) translate(5px, -35px);
    }
    .menu-navegacao-mobile-btn.open .menu-navegacao-mobile-btn_burger::after {
        transform: rotate(-45deg) translate(35px, 5px);
    }
    /* Menu Mobile - Itens do Menu Aberto */
    .menu-navegacao {
        display: none;
    }
    .menu-navegacao li a {
        color: white;
    }
    .menu-navegacao.open {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        background-color: #5C9B97;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 99;
    }
    .menu-navegacao li {
        font-size: 16px;
        font-weight: 300;
    }
    .main-menu ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
      }
}


/* 6 - Rodapé */
footer a {
    color: #707070;
}
footer ul li {
    list-style: none;
    font-weight: 300;
}
footer span {
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
}
.rodape {
    background-color: #FAFAFA;
}
.rodape-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    padding: 5% 0;
}
.rodape-logo {
    display: inherit;
}
.separador-light {
    border-right: 1px solid #E7E7E7;
}
.rodape-pagamentos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5% 0;
}
.rodape-pagamentos-ali {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.certificacao {
    background-color: #959595;
    color: #FFF;
}
.selo-rodape {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 60px;
    text-transform: uppercase;
    padding: 50px 0;
}
.cnpj {
    display: flex;
    font-size: 10px;
    text-align: center;
    justify-content: space-around;
}
.logo-sonotto {
    display: flex;
    padding-left: 13px;
}
@media screen and (max-width: 1000px) {
    .rodape-pagamentos {
        justify-content: center;
        gap: 35px
    }
    .separador-light {
        display: none;
    }
    .rodape-pagamentos-ali {
        justify-content: center;
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .rodape-grid {
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
        padding: 15% 0;
    }
    .selo-rodape {
        gap: 30px;
        justify-content: center;
        text-align: center;
    }
}

/* 7 - Elementos */
/* 7.1 - Elementos - Content Boxes */
.content-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}
.content-box {
}
.content-box-img-title {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    height: 200px;
    padding: 25px;
    border-radius: 5px 5px 0px 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.content-box-img-title h5 {
    margin: 0;
    color: #FFE7B9;
    z-index: 10;
 }
.content-box-img-title::after {
    content: " ";
    height:100%;
    width:100%;
    top:0;
    left:0;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.content-box-img-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}
.content-box-desc {
    background-color: #487673;
    color: #B0D2D0;
    padding: 35px 25px;
    line-height: 20px;
    font-size: 11px;
    border-radius: 0px 0px 5px 5px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-box-desc:hover {
    background-color: #365c59;
}
.content-box-desc p {
    margin: 0;
    margin-bottom: 20px;
}

/* 7 - Elementos - Lojas */
.loja-box {
    justify-content: space-around;
    padding: 5% 10%;
    gap: 20%;
}
.loja-cidade {
    padding-bottom: 30px;
}
p.cor-loja {
    color: #5C9B97;
}
.w-100 {
    width: 100%;
}
.gap-15 {
    gap: 15%;
}
@media screen and (max-width: 1170px) {
    .loja-box {
        padding: 5% 0;
    }
}
@media screen and (max-width: 960px) {
    .loja-box {
        gap: 30px;
    }
}
@media screen and (max-width: 850px) {
    .loja-box {
        flex-direction: column;
    }
    .gap-15 {
        justify-content: space-around;
    }
    .w-100 {
        margin: 35px 0;
    }
}
/* 7 - Elementos - Tecnologia */
.info-box {
    display: grid;
    margin: 50px;
    box-shadow: 11px 29px 32px rgb(0 0 0 / 12%);
    grid-template-columns: 1fr 1fr;
}
.info-espacos {
    padding: 50px 70px;
    align-self: center;
}
.photo > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
h2.cor-tec {
    color: #487673;
}
@media screen and (max-width: 950px) {
    .info-box {
        margin: 0;
        overflow: hidden;
    }
}
@media screen and (max-width: 700px) {
    .info-box {
        box-shadow: none;
        grid-template-columns: 1fr;
    }
    .info-espacos {
        padding: 30px 0;
        align-self: center;
    }
}


/* 7.3 - Elementos - Grid */
.grid-multi {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 55px;
    margin: 10% 0;
}
.grid-image {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 580px;
    object-fit: cover;
    box-shadow: 11px 29px 32px rgba(0, 0, 0, 0.12);
}
.g-titulo {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 70%;
    align-self: end;
}
.g-titulo h2 {
    color: #487673;
}
.g-titulo h5 {
    color: #274442;
}
.g-texto-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.g-pedacos {
    position: absolute;
    right: 0;
    width: 150px;
}
.g-pedacos p {
    transform: rotate(
270deg
);
    position: absolute;
    left: -100px;
    top: 120px;
}
@media screen and (max-width: 960px) {
    .grid-multi {
        display: flex;
        grid-gap: 20px;
        flex-direction: column;
    }
    .g-titulo {
        width: 100%;
    }
    .g-pedacos {
        display: none;
    }
    .grid-image {
        height: 260px;
        position: relative;
        left: -10%;
    }
}
/* 7.3 - Elementos - Grid - Colheitas */
.grid-colheitas {
    display: grid;
    grid-template-columns: 2fr 1.3fr 1fr;
    grid-gap: 55px;
    align-self: center;
    margin-top: 25px;
}
.grid-colheitas-image {
    grid-column-start: 1;
    height: 580px;
    object-fit: cover;
    box-shadow: 11px 29px 32px rgba(0, 0, 0, 0.12);
}
.g-colheitas-titulo {
    grid-column-start: 2;
    align-self: end;
}
.g-colheitas-titulo h1 {
    color: #274442;
}
.g-colheitas-pedacos {
    position: absolute;
    right: 0;
    margin-top: 25px;
    width: 20%;
    height: 500px;
}
.g-colheitas-pedacos img {
    height: 100%;
    object-fit: cover;
    object-position: -120px;
}
@media screen and (max-width: 750px) {
    .grid-colheitas {
        flex-direction: column;
        display: flex;
        grid-gap: 25px;
    }
    .grid-colheitas-image {
        height: 280px;
        -o-object-fit: cover;
        object-fit: cover;
        box-shadow: 11px 29px 32px rgb(0 0 0 / 12%);
    }
    .g-colheitas-pedacos {
        display: none;
    }
}

/* 7.3 - Elementos - Images - Colheitas */
.colheitas-pedacos {
    margin: 10% 0;
}
.colheitas-images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
}
.colheitas-images-grid img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(100%)
}
@media screen and (max-width: 750px) {
    .colheitas-images-grid {
        grid-template-columns: 1fr;
    }
}

/* 7.3 - Elementos - Quem Somos */
.quem-destaque {
    color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0.47) 100%), url(../images/quem-caixa-durevole.jpeg);
    background-position: center center;
    border-radius: 5px;
    padding: 7% 15%;
    text-align: center;
    margin-top: 25px;
}
.quem-logo-meio-pagina {
    width: 100%;
    padding: 2% 0 1% 0;
    display: flex;
    justify-content: center;
}
.quem-logo-meio-pagina img {
    max-width: 300px;
}
.quem-fsc {
    margin: 0 auto;
    width: 50%;
    display: flex;
    text-align: right;
    gap: 50px;
    padding: 5% 0;
}
@media screen and (max-width: 750px) {
    .quem-fsc {
        width: 100%;
        flex-direction: column;
        gap: 25px;
        text-align: center;
        align-items: center;
    }
    .quem-fsc img {
        width: 50%;
    }
    .quem-destaque {
        padding: 7% 5%;
    }
}
/* 7.3 - Page - Onde Comprar */
.onde-destaque {
    color: #fff;
    background: #5C9B97;
    border-radius: 5px;
    padding: 7% 15%;
    text-align: center;
    margin-top: 25px;
}
/* 7.3 - Page - Home */
.hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/hero-imagem.jpeg');
    background-position: center center;
}
.hero-grid {
    display: grid;
    grid-template-columns: .5fr .5fr 2fr;
    grid-template-areas:
        "sidebar space segunda";
    grid-gap: 3rem;
    margin-bottom: 25px;
    height: 80vh;
    color: #fff;
    align-content: flex-end;
    padding-bottom: 5%;
}
.hero-botoes {
    display: flex;
    gap: 35px;
}
.home-lojas {
    grid-area: sidebar;
    font-size: 10px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.home-destaques {
    grid-area: segunda;
    display: flex;
    flex-direction: column;
    align-self: end;
}
.home-destaques svg {
    fill: #fff;
}
.home-destaques span {
    color: #FFE7B9;
}
.home-destaques .botao-traco-g {
    color: #fff;
    border-bottom: 1px solid #fff;
}
@media screen and (max-width: 750px) {
    .hero-grid {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .home-lojas {
        display: none;
    }
    .g-texto-1 {
        display: none;
    }
    .g-texto-2 {
        display: none;
    }
}

/* 7.2 - Elementos - Produto Boxes */
.produto-box {
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.produto-box img {
    object-fit: cover;
    height: 260px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 100%;
}
.produto-box:hover {
    transform: scale(1.02);
}
.produto-titulo {
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 0;
}
.produto-descricao {
    font-weight: 300;
}
.produto-tag {
    background-color: #E9E9E9;
    padding: 2px 15px;
    position: absolute;
    border-radius: 100px;
    top: 7px;
    right: 7px;
    font-size: 10px;
}
.produto-categoria {
    margin-bottom: 25px;
}
.separador-line-produto {
    height: 1px;
    background-color: #e2e2e2;
}
@media screen and (max-width: 800px) {
    ul.lista-flex {
        flex-direction: column;
        gap: 25px;
    }
}
 /* Processos e Lojas */
.background-verde-escuro {
    background-color: #274442;
    color: #fff;
    padding: 5% 0;
}
.botao-traco-g.branco {
    color: #fff;
}
.produto-processo-titulo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.produto-lojas {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    grid-gap: 15%;
    margin: 5% 0;
}
.produto-lojas img {
    margin-bottom: 20px;
}
.lojas-design.reparos {
    display: none;
}
.lojas-reparos.piso {
    display: none;
}
.lojas-reparos.deck {
    display: none;
}
.lojas-reparos.revestimento {
    display: none;
}
.lojas-reparos.reparos {
    display: block;
}
.reparo-botoes {
    display: flex;
    gap: 35px;
}
@media screen and (max-width: 800px) {
    .produto-lojas {
        grid-template-columns: 1fr;
        grid-gap: 15px;
        text-align: center;
    }
    .produto-lojas img {
        max-width: 70%;
    }
    .reparo-botoes {
        flex-direction: column;
        align-items: center;
    }
}
/* Colecoes */
.colecoes-menu-tipos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.colecoes-menu-tipos-item {
    background: #f3f3f3;
    border-radius: 5px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 120px;
    cursor: pointer;
    position: relative;
}
.colecoes-point {
    width: 8px;
    height: 8px;
    background-color: #5C9B97;
    border-radius: 100px;
    top: 25px;
    position: absolute;
}
.colecoes-menu-tipos-item:hover {
    transform: scale(1.02);
    background-color: #5C9B97;
    color: #fff;
}
.colecoes-menu-tipos-item span {
    font-size: 10px;
}
@media screen and (max-width: 750px) {
    .colecoes-menu-tipos {
        grid-template-columns: 1fr;
        margin-bottom: 20%;
    }
}
/* Profissionais */
.profissionais-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
}
.profissionais-amigo {
    background-color: #eef2f6;
    padding: 10% 0;
    position: relative;
}
.profissionais-amigo-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.profissionais-amigo-grid ul {
    list-style-type: none;
    margin-bottom: 25px;
}
.profissionais-amigo-grid li {
    border-top: 1px solid #ccc;
    padding: 15px 0;
    font-size: 15px;
}
.reparo-images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
}
.reparo-images-grid img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}